<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 这个配置是配置实体类的别名。类名既是别名，不需要写类名全称 -->
	<typeAliases> 
		<package name="com.Blog.Model"/>
    </typeAliases> 
    <!-- 配置类型转换器 -->
    <typeHandlers>
   		 <typeHandler handler="com.Mybatis.TypeHandler.BooleanTypeHandler" jdbcType="INTEGER" javaType="Boolean"/>
   		 
	</typeHandlers>	
	<!-- 指向实体类的映射文件，待定！ -->
	<mappers>
		<mapper resource="com/Blog/Model/user.mapping.xml" />
		<mapper resource="com/Blog/Model/article.mapping.xml" />
		<mapper resource="com/Blog/Model/category.mapping.xml" />
	</mappers>
</configuration>