<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
       <!-- 配置渲染器 -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
    		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>  
    		<property name="prefix" value="/"/>  
    		<property name="suffix" value=".jsp"/>  
		</bean>  
		<mvc:interceptors>
			<!-- 拦截进入空间的用户是否存在 -->
			<mvc:interceptor>
				<mvc:mapping path="/*/*"/>
				<bean class="com.Blog.Interceptor.IntoSpaceInterceptor"></bean>
			</mvc:interceptor>
			<!-- 拦截登录注册的验证码是否一致 -->
			<mvc:interceptor>
				<mvc:mapping path="/user/*"/>
				<bean class="com.Blog.Interceptor.LoginAndRegiseterInterceptor"></bean>
			</mvc:interceptor>
		</mvc:interceptors>
		<!-- 文件上传配置 -->
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    		<property name="maxUploadSize" value="10000000"/>	<!-- 支持的最大文件大小，以字节为单位 -->
    		<property name="maxInMemorySize" value="40960"></property>	<!-- 支持的最大缓存 -->
    		<property name="defaultEncoding" value="utf-8"></property>
		</bean>	
		
		
		<!-- 扫描器下面的控制器类 -->
		<context:component-scan base-package="com.Blog.Controller" use-default-filters="false" >
			<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		</context:component-scan>
		<mvc:annotation-driven /> 
</beans>